@charset "utf-8";

*,
*:after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

/* header 시작 */
header {
    background: #fff;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 3px 0 #333;
}

header h1 {
    height: 100%;
    text-align: center;
}

header h1 a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 5px;
}

.nav {
    position: absolute;
    right: 20px;
    top: 20px;
}

.nav li {
    float: left;
    margin-left: 5px;
}

.nav a img {
    width: 20px;
}

.hamburger {
    position: absolute;
    top: 6px;
    left: 20px;
}

.hamburger img {
    width: 30px;
}

/* header 끝 */

/* top 아이콘 */
.top {
    position: fixed;
    bottom: 25px;
    right: 10px;
    z-index: 97;
}

.top img {
    width: 45px;
}

/* top 아이콘 끝 */

/* menu 시작 */

#gnb {
    background: #fff;
    position: fixed;
    width: 75%;
    height: 100%;
    top: 0;
    font-size: 0.9rem;
    left: -75%;
    /* 메뉴보이게 */
    z-index: 100;
}

.box {
    background: #e0dfdd;
    width: 75%;
    margin: 60px auto;
    height: 150px;
    position: relative;
}

.box a img {
    width: 170px;
    margin-top: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.box ul {
    width: 90%;
    height: 25px;
    margin: 0 auto;
    padding-top: 105px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
}

.box ul li {
    background: #fff;
    text-align: center;
    line-height: 25px;
}

.box ul li a {
    font-size: 0.7rem;
    font-weight: bold;
}

.menu1 {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(autofit 5, 1fr);
}

.menu1 li {
    padding: 10px 20px;
}

.menu1>li>a {
    display: block;
    width: 100%;
    position: relative;
    font-weight: bold;
}

.menu1 li a img {
    width: 15px;
    right: 0;
    position: absolute;
    top: 1.5px;
}

.sub {
    display: none;
}

.sub li a {
    display: block;
    color: #9b9b9b;
    font-size: 0.75rem;
}

.sub li a:hover {
    color: #50504f;
    font-weight: bold;
}

/* menu 끝 */

/* main 시작 */
#main {
    width: 100%;
    margin-top: 60px;
    overflow: hidden;
    position: relative;
}

#main ul {
    position: relative;
    width: 500%;
    left: 0;
}

#main ul li {
    float: left;
    width: 20%;
}

#main ul li img {
    width: 100%;
}

#arrow p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 98;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

#arrow img {
    width: 40px;
    opacity: 0.6;
}


#roll {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
}

#roll p {
    margin-right: 5px;
    float: left;
}

#roll p:last-child {
    margin-right: 0;
}

#roll a {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    background-color: #50504f;
    opacity: 0.7;
}

#roll .on {
    background: #000;
}

/* main 끝 */

/* nav2 시작 */
.nav2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    margin-bottom: 3rem;
}

.nav2 li {
    height: 23px;
    border-bottom: 1px solid #50504f;
    border-right: 1px solid #50504f;
}

.nav2 li:nth-child(3),
.nav2 li:nth-child(6) {
    border-right: none;
}

.nav2 li a {
    display: block;
    line-height: 23px;
    font-size: 0.75rem;
}

/* nav2 끝 */

/* NEW&BEST, 관심, 추천 시작 */
#container {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

#container h3 {
    margin-bottom: 1.5rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #50504f;
}

.hover1 img {
    width: 100%;
}

#container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
}

#container span {
    margin-top: 10px;
    display: block;
}

.hover1 {
    background: #000;
    position: relative;
}

.text {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 0.3s;
    color: #fff;
    opacity: 0;
}

.txt {
    margin-top: 10px;
    text-decoration: line-through;
    color: #50504f;
    font-weight: normal;
}

.text>span {
    font-size: 0.8rem;
}

.hover1:hover .text {
    transform: translateY(-50%);
    opacity: 1;
}

.hover1 img {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.hover1:hover img {
    opacity: 0.5;
}

.more {
    width: 100%;
    height: 25px;
    margin: 0 auto;
    margin-top: 2rem;
}

.more a {
    width: 50%;
    height: 25px;
    display: block;
    float: left;
}

.more a span {
    font-size: 0.7rem;
    text-align: right;
    line-height: 0px;

}

.more img {
    width: 20px;
}

/* NEW&BEST, 관심, 추천 끝 */

/* section 브랜드소개 시작 */
.brand {
    width: 100%;
    position: relative;
    margin-bottom: 3rem;
}

.brand img {
    width: 100%;
}

.text2 {
    width: 100%;
    position: absolute;
    top: 20%;
    text-align: center;
}

.txt1 {
    font-size: 0.75rem;
}

.txt2 {
    font-size: 1.2rem;
}

.txt3 {
    font-size: 0.5rem;
    padding-top: 20px;
}

.txt3 p {
    margin-top: 7px;
}

/* ani쓰기위해 숨기는 CSS */
.text2 {
    visibility: hidden;
    /* 자리차지하면서 숨김 */
}

.fadeInLeft {
    visibility: visible;
}


/* section 브랜드소개 끝 */

/* EVENT 시작 */
.list2 {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 3rem;

}

.list2 h3 {
    padding-bottom: 5px;
    border-bottom: 2px solid #50504f;
    margin-bottom: 1.5rem;
}

.ban img {
    width: 100%;
    vertical-align: bottom;
    margin-bottom: 10px;
}

.ban:last-child {
    margin-bottom: 0;
}

/* EVENT 끝 */

/* video시작 */
.video {
    width: 100%;
    margin: 0 auto;
    background: #000;
}

.videoContainer {
    padding-bottom: 56.25%;
    /* 화면비율 16:9 케이스 */
    width: 80%;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.videoContainer iframe {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

/* video끝 */

/* brand2 시작 */
.brand2 {
    width: 100%;
    padding: 3rem 0 2rem 0;
    margin-bottom: 3rem;
    background: #f6f2ef;
}

.text3 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.text3 li {
    margin: 5px 0;
}

.txt4 {
    font-size: 0.7rem;
}

.txt5 {
    font-size: 1.3rem;
}

.txt6 {
    font-size: 0.5rem;
    padding-top: 20px;
}

.txt6 p {
    margin-top: 7px;
}

/* ani쓰기위해 숨기는 CSS */
.text3 {
    visibility: hidden;
    /* 자리차지하면서 숨김 */
}

.fadeInUp {
    visibility: visible;
}

/* brand2 끝 */

/* review 시작 */
.list3 {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.list3 h3 {
    padding-bottom: 5px;
    border-bottom: 2px solid #50504f;
    margin-bottom: 1.5rem;
}

.list3 ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
}

.list3 li {
    overflow: hidden;
}

.list3 ul img {
    width: 100%;
}

.ban2 ul li img {
    transform: scale(1);
    transition: .3s ease-in-out;
}

.ban2 ul li:hover img {
    transform: scale(1.08);
}

.list3 .more span {
    display: block;
    line-height: 20px;
}

/* review 끝 */

/* nav3 시작 */
.nav3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
    height: 23px;
    line-height: 23px;
    font-size: 0.75rem;
    border-top: 1px solid #50504f;
}

.nav3 li {
    border-right: 1px solid #50504f;
}

.nav3 li:last-child {
    border-right: 0;
}

/* nav3 끝 */

/* footer 시작 */
#footer {
    width: 100%;
    background: #000;
    color: #50504f;
    font-size: 0.7rem;
    padding: 3rem 0 2rem 0;
}

.foot1 {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 8px;
}

.foot1 div p {
    margin-bottom: 5px;
}

.txt7 {
    font-weight: bold;
    color: #fff;
}

.txt8 {
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
}

.foot2 {
    width: 85%;
    margin: 0 auto;
    padding-top: 1.5rem;
}

.foot2 p {
    margin-bottom: 8px;
}

.foot3 {
    width: 86%;
    margin: 0 auto;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.foot3 li a {
    color: #50504f;
    letter-spacing: 3px;
    font-size: 0.6rem;
}

.foot3 li:last-child a {
    letter-spacing: 0;
}